#controls
  opacity 0.85
  background whiteSmoke
  border-radius 5px
  position absolute
  text-align center
  top 20px
  right 4px
  padding 5px
  margin 10px
  z-index 2
  a
    color: black;
  .title
    font-size 18px
    font-weight bold
  .btn
    height: 20px;
    cursor: pointer;
    padding: 5px;
    background: darkgray;
    margin: 5px;
    border-radius: 5px;
    line-height: 10px;
    font-weight: bold;
    .hover
      font-style italic
      display none
    &:hover
      .hover
        display block
      .text
        display none
