#controls
  opacity .7
  background whiteSmoke
  border-radius 5px
  position absolute
  text-align center
  top 20px
  right 4px
  padding 5px
  margin 10px
  z-index 2
  a
    color: black;
    text-decoration: none;
    &:hover
      text-decoration: underline;

  .title
    font-size 18px
    font-weight bold
  .btn
    height: 20px;
    cursor: pointer;
    padding: 5px;
    background: darkgray
    margin: 5px;
    border-radius: 5px;
    line-height: 10px;
    font-weight: bold;
    .hover
      font-style italic
      display none
    &:hover
      .hover
        display block
      .text
        display none

  .sharebox
    position: absolute;
    bottom: -40px;
    right: 0px;
    background: rgb(228, 228, 228);
    padding: 3px;
    border-radius: 5px;
    width: 300px;
    textarea
      font-size: 17px;
      height: 25px;
      border: none;
      background: none;
      text-align: right;
      white-space: nowrap;
      overflow: hidden;
      width: 100%;