#controls
  opacity 0.85
  background lightGrey
  border-radius 5px
  position absolute
  
  bottom 0
  right 0
  padding 5px
  margin 10px
  z-index 2
  .btn
    img
      width 32px
      height 32px
    margin 5px
    border-radius 12px
    &.run
      border-radius 2px
    width 32px
    height 32px
    display inline-block
    &:hover, &.active
      cursor pointer
      box-shadow 0 0 6px 4px white
      background white