#out
  top 50%
  height 50%
  z-index: 1
  border-top lightGrey thin solid
  padding-top 5px
  overflow-y auto
  pre
    font-family 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace !important
    word-wrap break-word
    white-space pre-wrap
    font-size 1.25em
    color white
    margin 0