#out
  top 50%
  height 50%
  z-index: 1
  border-top #D1D1D1 thin solid
  padding-top 5px
  overflow-y auto
  pre
    padding-left 50px
    font-family 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace !important
    word-wrap break-word
    white-space pre-wrap
    font-size 1.25em
    margin 0
    span
      &.err
        color rgb(192, 0, 0)
      &.exit
        color grey