#spotlight
  // display none
  z-index 3
  padding 25px

  .fader
    z-index 4
    background white
    opacity 0.3

  .container
    z-index 5
    padding 55px 10px 10px 10px
    position relative
    text-align center
    height inherit
    .inputs
      height initial
      padding 10px
    .results
      overflow auto
      height 100%