
/* line 28 : /Users/jpillora/Code/Go/src/github.com/jpillora/go-sandbox/static/src/styles/app.styl */

/* line 1 : /Users/jpillora/.grunt-sources/web/node_modules/grunt-contrib-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 4 : /Users/jpillora/Code/Go/src/github.com/jpillora/go-sandbox/static/src/styles/app.styl */
html,
body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
}

/* line 14 : /Users/jpillora/Code/Go/src/github.com/jpillora/go-sandbox/static/src/styles/app.styl */
* {
  box-sizing: border-box;
}

/* line 17 : /Users/jpillora/Code/Go/src/github.com/jpillora/go-sandbox/static/src/styles/app.styl */
.abs {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 293 : /Users/jpillora/.grunt-sources/web/node_modules/grunt-contrib-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 293 : /Users/jpillora/Code/Go/src/github.com/jpillora/go-sandbox/static/src/styles/app/controls.styl */

/* line 1 : /Users/jpillora/Code/Go/src/github.com/jpillora/go-sandbox/static/src/styles/app/controls.styl */
#controls {
  opacity: 0.7;
  background: whiteSmoke;
  border-radius: 5px;
  position: absolute;
  text-align: center;
  top: 20px;
  right: 4px;
  padding: 5px;
  margin: 10px;
  z-index: 2;
}

/* line 12 : /Users/jpillora/Code/Go/src/github.com/jpillora/go-sandbox/static/src/styles/app/controls.styl */
#controls a {
  color: #000;
  text-decoration: none;
}

/* line 15 : /Users/jpillora/Code/Go/src/github.com/jpillora/go-sandbox/static/src/styles/app/controls.styl */
#controls a:hover {
  text-decoration: underline;
}

/* line 18 : /Users/jpillora/Code/Go/src/github.com/jpillora/go-sandbox/static/src/styles/app/controls.styl */
#controls .title {
  font-size: 18px;
  font-weight: bold;
}

/* line 21 : /Users/jpillora/Code/Go/src/github.com/jpillora/go-sandbox/static/src/styles/app/controls.styl */
#controls .btn {
  height: 20px;
  cursor: pointer;
  padding: 5px;
  background: #a9a9a9;
  margin: 5px;
  border-radius: 5px;
  line-height: 10px;
  font-weight: bold;
}

/* line 30 : /Users/jpillora/Code/Go/src/github.com/jpillora/go-sandbox/static/src/styles/app/controls.styl */
#controls .btn .hover {
  font-style: italic;
  display: none;
}

/* line 33 : /Users/jpillora/Code/Go/src/github.com/jpillora/go-sandbox/static/src/styles/app/controls.styl */

/* line 34 : /Users/jpillora/Code/Go/src/github.com/jpillora/go-sandbox/static/src/styles/app/controls.styl */
#controls .btn:hover .hover {
  display: block;
}

/* line 36 : /Users/jpillora/Code/Go/src/github.com/jpillora/go-sandbox/static/src/styles/app/controls.styl */
#controls .btn:hover .text {
  display: none;
}

/* line 39 : /Users/jpillora/Code/Go/src/github.com/jpillora/go-sandbox/static/src/styles/app/controls.styl */
#controls .sharebox {
  position: absolute;
  bottom: -40px;
  right: 0px;
  background: #e4e4e4;
  padding: 3px;
  border-radius: 5px;
  width: 300px;
}

/* line 47 : /Users/jpillora/Code/Go/src/github.com/jpillora/go-sandbox/static/src/styles/app/controls.styl */
#controls .sharebox textarea {
  font-size: 17px;
  height: 25px;
  border: none;
  background: none;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

/* line 56 : /Users/jpillora/Code/Go/src/github.com/jpillora/go-sandbox/static/src/styles/app/controls.styl */

/* line 56 : /Users/jpillora/Code/Go/src/github.com/jpillora/go-sandbox/static/src/styles/app/dragger.styl */

/* line 1 : /Users/jpillora/Code/Go/src/github.com/jpillora/go-sandbox/static/src/styles/app/dragger.styl */
#dragger {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 50%;
  width: 100%;
  height: 20px;
  margin-top: -10px;
}

/* line 9 : /Users/jpillora/Code/Go/src/github.com/jpillora/go-sandbox/static/src/styles/app/dragger.styl */
#dragger:hover {
  cursor: move;
  background: rgba(156,156,156,0.19);
}

/* line 12 : /Users/jpillora/Code/Go/src/github.com/jpillora/go-sandbox/static/src/styles/app/dragger.styl */

/* line 12 : /Users/jpillora/Code/Go/src/github.com/jpillora/go-sandbox/static/src/styles/app/out.styl */

/* line 1 : /Users/jpillora/Code/Go/src/github.com/jpillora/go-sandbox/static/src/styles/app/out.styl */
#out {
  top: 50%;
  height: 50%;
  z-index: 1;
  border-top: #d1d1d1 thin solid;
  padding-top: 5px;
  overflow-y: auto;
}

/* line 8 : /Users/jpillora/Code/Go/src/github.com/jpillora/go-sandbox/static/src/styles/app/out.styl */
#out pre {
  padding-left: 50px;
  font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace !important;
  word-wrap: break-word;
  white-space: pre-wrap;
  font-size: 1.25em;
  margin: 0;
}

/* line 15 : /Users/jpillora/Code/Go/src/github.com/jpillora/go-sandbox/static/src/styles/app/out.styl */

/* line 16 : /Users/jpillora/Code/Go/src/github.com/jpillora/go-sandbox/static/src/styles/app/out.styl */
#out pre span.err {
  color: #c00000;
}

/* line 18 : /Users/jpillora/Code/Go/src/github.com/jpillora/go-sandbox/static/src/styles/app/out.styl */
#out pre span.exit {
  color: #808080;
}

/* line 20 : /Users/jpillora/Code/Go/src/github.com/jpillora/go-sandbox/static/src/styles/app/out.styl */

/* line 2 : /Users/jpillora/Code/Go/src/github.com/jpillora/go-sandbox/static/src/styles/app/ace.styl */

/* line 2 : /Users/jpillora/Code/Go/src/github.com/jpillora/go-sandbox/static/src/styles/app/ace.styl */
#ace {
  font-size: 1.25em;
  width: 100%;
  height: 50%;
  z-index: 1;
}

/* line 10 : /Users/jpillora/Code/Go/src/github.com/jpillora/go-sandbox/static/src/styles/app/ace.styl */
.ace_scrollbar {
  display: none !important;
}

/* line 13 : /Users/jpillora/Code/Go/src/github.com/jpillora/go-sandbox/static/src/styles/app/ace.styl */
.ace_warning {
  background: rgba(255,50,50,0.1);
  position: absolute;
  width: 100% !important;
  left: 0 !important;
}
