
style.
    #loading-cover {
        position:absolute;
        top:0;
        left:0;
        z-index:10;
        width:100%;
        height:100%;
        background:white;
        text-align:center;
        padding-top:20px;
    }
    #spinner {
        position:absolute;
        top:0;
        right:20px;
    }
   

#spinner(ng-show="loading")
script.
  new Spinner({
    lines: 10,
    length: 0,
    width: 5,
    radius: 5,
    corners: 1.0,
    trail: 120,
    speed: 1.0,
    direction: 1,
    shadow: false,
    hwaccel: true,
    top: 10, // Top position relative to parent in px
    right: 10 // Left position relative to parent in px
  }).spin(document.getElementById('spinner'));

#loading-cover
  h1 Go Sandbox