//- TODO retrieve stored files using a 'spotlight' box
#spotlight.abs(ng-controller="Spotlight", ng-show="shown")
  .fader.abs
  .container
    .inputs.abs
      .ui.fluid.icon.large.input
        input(type="text",placeholder="Search...")
        i.search.icon
    .results
      p results...